.container {
    height: 250px;
    width: 250px;
    border: 3px solid hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px hotpink;
}
p {
    color: #6b2548;
    font-size: 20px;
}