.container {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid #2aa9ee;
    box-shadow: 10px 5px 5px #2aa9ee;
}